<div class="page" data-page="equipSearchDetail_en" id="equipSearchDetail_en">
	<div class="navbar">
		<div class="navbar-inner">
			<!-- 标题 -->
			<div class="left">
				<a href="#" class="back link">
					<i class="iconfont icon-back"></i>
				</a>
			</div>
			<div class="center sliding title eventDetailPopupTitle">
				Details of Equipment Events
			</div>
			<div class="right">
				<a class="link icon-only panel-open" href="/setPage/">
					<i class="iconfont icon-f7_right_user">
                    </i>
				</a>
			</div>
		</div>
	</div>
	<div class="page-content equipSearchDetailContent">
		<div class="list eventDetailList">
			<ul>
			</ul>
		</div>
	</div>
</div>