<div class="page " data-page="equipLinkageModify_en" id="equipLinkageModify_en">
    <div class="navbar">
        <div class="navbar-inner">
           <div class="left">
                <a href="#" class="back link">
                    <i class="iconfont icon-back"></i>
                </a>
            </div>
            <div class="center sliding title">
            	Equipment linkage
            </div>
            <div class="right">
                <a class="link icon-only panel-open" href="/setPage/">
                    <i class="iconfont icon-f7_right_user">
                    </i>
                </a>
            </div>                    
        </div>
    </div>
    <div class="page-content scheduleModifyPageContent" >

        <div class="scheduleModifyContainer equipLinkAgeModifyContainer list" >
          <ul class="equipLinkageList">
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Trigger device</div>
                  <div class="item-input-wrap">
                    <input type="text" placeholder="Please select trigger type" class="equipTiggerName" id="equipTiggerName">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Trigger type</div>
                  <div class="item-input-wrap">
                    <input type="text" placeholder="Please select trigger type" class="equipTiggerType" id="equipTiggerType">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Trigger point</div>
                  <div class="item-input-wrap">
                    <input type="text" placeholder="Please select the trigger point" class="equipTiggerSpot" id="equipTiggerSpot">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">delayed(ms)</div>
                  <div class="item-input-wrap">
                    <input type="text" placeholder="Please enter the delay time" class="equipTiggerTime" id="equipTiggerTime">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Linkage equipment</div>
                  <div class="item-input-wrap">
                    <input type="text" placeholder="Please select linkage equipment" class="equipTigger_Link" id="equipTigger_Link">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Linkage command</div>
                  <div class="item-input-wrap">
                    <input type="text" placeholder="Please select the linkage command" class="equipTiggerCom" id="equipTiggerCom">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Remarks information</div>
                  <div class="item-input-wrap">
                    <input type="text" placeholder="Please enter notes" class="equipTiggerInfo" id="equipTiggerInfo">
                  </div>
                </div>
              </div>
            </li>                        
          </ul>
          <button class="comfirmModify comfirmCancel color-red" onclick="myApp.router.back();">Cancel</button>
          <button class="comfirmModify" id="equipLinkageModifyId" dataID="">Save</button>
        </div>  

    </div>
</div>

