<div class="page" data-page="home_en" id="home_en">
    <div class="navbar">
        <div class="navbar-inner">
            <!-- 标题 -->
            <div class="left">
                <a href="#" id="scan" onclick="RichScan()">
                    <i class="iconfont icon-scanIcon">
                    </i>
                </a>
            </div>
            <div class="center sliding title auth_name_get">
            </div>
            <div class="right">
                <a class="link icon-only panel-open setPageTool" href="" id="setPageTool">
                    <i class="iconfont icon-f7_right_user">
                    </i>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content mainDiv">
        <!-- 实时快照 -->
        <div id="homeContents">
            <ul class="charts-block">
            </ul>
        </div>
    </div>
</div>
