<div class="page" data-page="mettingPPT_en" id="mettingPPT_en">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a class="back" href="#">
                    <i class="iconfont icon-back">
                    </i>
                </a>
            </div>
            <div class="center sliding title">
                PPT
            </div>
        </div>
    </div>
    <div class="page-content tabs-animated-wrap mettingPPTContent">
        <div class="pptActive">
            <h3 class="listTitle bottomBorderLine" style="font-size: 1rem;">
                Finally, open the file
            </h3>
        </div>
        <div id="Filelist">
            <h3 class="listTitle bottomBorderLine">
                File list
                <label>
                    <span class="selectUD" dataset="1">
                        <i class="iconfont icon-selectUD">
                        </i>
                        D:\PPT
                    </span>
                    <span dataset="2">
                        <i class="iconfont icon-selectUD">
                        </i>
                        USB drive
                    </span>
                </label>
                <em class="iconfont icon-refresh">
                </em>
            </h3>
            <ul>
            </ul>
        </div>
        <div class="displayNone modalDiv">
            <span class="preloader preloader-white">
            </span>
        </div>
    </div>
</div>
