<div class="page" data-page="mettingDetails_en" id="mettingDetails_en">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="" id="back2">
                    <i class="iconfont icon-back" style="font-size: 1.4rem;color: #333;">
                    </i>
                </a>
            </div>
            <div class="center sliding title">
                PPT
            </div>
        </div>
    </div>
    <div class="page-content tabs-animated-wrap mettingDetailsContent">
        <article class="mettingDetailsContent">
            <div class="swiper-custom">
                <h3 class="detailsTiTle">
                </h3>
                <div class="swiper-container mettingDetails swiper-3">
                    <div class="viewsPng">
                        <img class="setviewPng" src="">
                            <a class="closeppt closeFile activeBackground" href="#" set_equip="4001" set_id="7" set_no="7">
                                Close
                            </a>
                        </img>
                    </div>
                    <div class="swiper-wrapper mettingDetails_index">
                    </div>
                </div>
                <div class="mettingDetailsBottom row">
                    <div style="background: url(/Image/phone/indexPage-en.png) no-repeat center/auto 100%;">
                        <a class="startPage" href="#" id="startPage" set_equip="4001" set_id="5" set_no="5">
                        </a>
                        <a class="prePage" href="#" id="prePage" set_equip="4001" set_id="2" set_no="2">
                        </a>
                        <a class="nextPage" href="#" id="nextPage" set_equip="4001" set_id="3" set_no="3">
                        </a>
                        <a class="endPage" href="#" id="endPage" set_equip="4001" set_id="6" set_no="6">
                        </a>
                    </div>
                </div>
            </div>
            <div class="displayNone modalDiv">
                <span class="preloader preloader-white">
                </span>
            </div>
            <div class="abc123" style="position: absolute;left: 0;top: 13%;color: white;">
                <label>
                </label>
                <span>
                </span>
            </div>
        </article>
    </div>
</div>
