<div class="pages">
	<div class="page" id="sysConfigEdict_en" data-page="sysConfigEdict_en">
		<div class="navbar">
			<div class="navbar">
		        <div class="navbar-inner">
		            <!-- 标题 -->                  
		            <div class="left">
		                <a href="#" class="back link">
		                    <i class="iconfont icon-back"></i>
		                </a>
		            </div>                         
		            <div class="center sliding title">System configuration</div>
		            <div class="right">
		                <a href="#"  onclick="upInforEdict()" style="color: #333;">
							Confirm
		                </a>
		            </div>
		        </div>
		    </div>   
		</div>
		<div class="page-content">
			<div class="list edictList no-hairlines-md">
				<ul></ul>
			</div>
		</div>
		<div class="sheet-modal sheet-condition-config sheet-paln">
        	<div class="toolbar">
			      <div class="toolbar-inner">
			        <div class="left"><a class="link sheet-close" href="#">Cancel</a></div>
			        <div class="right"><a class="link sheet-close" href="#">Confirm</a></div>
			      </div>
			    </div>
			    <div class="sheet-modal-inner">
			    	<div class="block">
			    		<div class="list">
			    			<ul class="eq-list"></ul>
			    		</div>
			    	</div>
			    </div>
        </div>
        <div class="sheet-modal sheet-condition-config sheet-zichan">
        	<div class="toolbar">
			      <div class="toolbar-inner">
			        <div class="left"><a class="link sheet-close" href="#">Cancel</a></div>
			        <div class="right"><a class="link sheet-close" href="#">Confirm</a></div>
			      </div>
			    </div>
			    <div class="sheet-modal-inner">
			    	<div class="block">
			    		<div class="list">
			    			<ul class=" eq-list"></ul>
			    		</div>
			    	</div>
			    </div>
        </div>
        <div class="sheet-modal sheet-condition-config sheet-video">
	        	<div class="toolbar">
				      <div class="toolbar-inner">
				        <div class="left"><a class="link sheet-close" href="#">Cancel</a></div>
				        <div class="right"><a class="link sheet-close" href="#">Confirm</a></div>
				      </div>
				    </div>
				    <div class="sheet-modal-inner">
				    	<div class="block">
				    		<div class="list">
				    			<ul class=" eq-list">
				    				
				    			</ul>
				    		</div>
				    	</div>
				    </div>
        </div>
	</div>
	
</div>
