

    <div data-page="UserInfor_en" class="page" id="UserInfor_en">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="iconfont icon-back"></i>
                    </a>
                </div>
                <div class="center sliding title">个人信息</div>
                <div class="right hideMenu">
                    <a href="#" class="link icon-only panel-open"><i class="iconfont icon-f7_menu"></i></a>
                </div>                
            </div>
        </div>        
        <div class="page-content">
            <div class="list-block list" style="margin:0;">
                <ul>
                    <li class="item-content">
                        <div class="item-inner" style="text-align:center;">
                            <div class="item-title" id="userInfors"></div>
                        </div>
                    </li>
<!--                     <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title userInforImg">
                                <img id="userRichScan" src="" alt="">
                            </div>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
