<div class="page" data-page="Video_en" id="Video_en">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a class="back" href="#">
                    <i class="iconfont icon-back">
                    </i>
                </a>
            </div>
            <div class="center sliding title">
                real-time video
            </div>
            <div class="right">
                <!-- -->
            </div>
        </div>
    </div>
    <div class="page-content ptr-content" data-ptr-distance="55" id="Video_content_ref">
        <div class="ptr-preloader">
            <div class="preloader">
            </div>
            <div class="ptr-arrow">
            </div>
        </div>
        <div class="list accordion-list list-page" style="margin:0;">
            <ul id="Video_tree">
            </ul>
        </div>
    </div>
</div>
