

    <div data-page="videoControl_en" class="page" id="videoControl_en" style="background: #1b0e0e;">
        <div class="navbar">
            <div class="navbar-inner">
                  <div class="left"><a href="#" class="back"><i class="iconfont icon-back"></i></a></div>
                <div class="center sliding title">Video surveillance</div>
                <div class="right">                          
                    <div class="item-input rightInput" style="position: relative;">
                       
                    </div> 
                </div>
            </div>
        </div>
        <div class="page-content">
           <div id="container"></div>
        </div>
    </div>
