@mixin shape ($width: 100%, $height: 100%) {
    width: $width;
    height: $height;
}
@mixin with ($width) {
    width: $width;
}
@mixin high ($height) {
    height: $height;
}
// 单行文本溢出省略号
@mixin sgTextOE () {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
// 多行文本溢出省略号
@mixin mlTextOE ($lines: 2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    overflow: hidden;
}
// flex兼容
@mixin flexBox () {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
@mixin flexGrow ($grow: 0) { 
    -webkit-box-flex: $grow;
    flex-grow: $grow;
}
@mixin jusContent ($jus: flex-start) {
    justify-content: $jus;
}


