/*
mixin：sass宏mixin
*/
@import  'public.scss';
@import  '../_mixin.scss';

/*顶部状态栏颜色*/
html.with-statusbar.device-android .framework7-root {
    padding-top: 0;
}
html.with-statusbar.device-android .panel {
    height: 100%;top: 0;
}
.active-state:active {
    opacity: 1!important;
}   
.ios .statusbar,.md .statusbar,.statusbar {
    background: #{$headerBgc};
}
.ios a,.md a,.ios .button{color: #{$situationFontColor};}
.md .statusbar {
    display: none!important;
}
html.with-statusbar.device-iphone-x .framework7-root{padding-top: 20px;}
html.device-ios.device-iphone-x .statusbar{height: 20px;}
.hideMenu{visibility: hidden; opacity: 0;}
.displayNone{display: none;}
.view{
    //搜索
    .searchbar-inner{padding: 0 1rem;background: #{$situationBgc};}
    /*内容区*/ 
    .ios .page,.md .page,.page{background: #{$situationContainerBgc};}
    .page-content{
        padding-bottom: 50px; background: #{$situationBgc};
        #homeContents{
            &>ul.charts-block{
                &>li{
                     position: relative;
                    .functionMenu{&>dd{ li{.homeBtn{p{color: #{$situationFontColor};}} } } }
                    .commonlyUsed,.sysFourMenu{li{a{p{color: #{$situationFontColor};opacity: 0.9;font-size: 0.9rem;} } } }
                    .pptPattern_container,.jjPattern_container{h3{label{color: #fff;} } }                                                
                }
                .statisticsTable{ 
                    a{color: #{$statsBgc};text-align: left;padding: 5px;}
                }
            }
        }
       //实时快照 
        .snapshot-main {
            .snapshot-ul {li {background: #{$situationContainerBgc};
            a{.item-title{color: #{$situationFontColor};}}
            }}
            .snapshotMessage-ul {
              li{ background: #{$situationContainerBgc};}
            } 
        }
        //幻灯片
        .swiper-paginationTrailer{
          &>span{background: #{$situationFontColor};}
         }        
    }
    /*顶部导航栏 */

    .navbar{
        background-color: #{$headerBgc};box-shadow: 0 1px 3px 0 #{$toolbarBoxShadow};    
        &>.navbar-inner{ 
            .left{
                i{font-size: 1.5rem;color: #{$headTitleFontColor};}
                i.icon-back{width: auto;height: auto;background-image: url()!important;}
                i.icon{font-family: "iconfont" !important; font-size: 2rem; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
                a{
                    width: 100%;height: 100%;text-align: center;padding: 0;font-size: 1.1rem;color: #{$headTitleFontColor}; line-height: 44px;display: inline-block;    
                    i.icon-f7_add{font-size: 2rem;color: #{$allFontColor};} i.icon-scanIcon{font-size: 1.5rem;}
                }
             }
            .auth_name_get{font-size: 1.5rem;font-weight: 500;color: #{$headTitleFontColor};letter-spacing: 3px;padding-bottom: 22px;}
            .right{
                margin: 0;position: absolute;right: 10px;
                a{
                    width: 100%;height: 100%;text-align: center;padding: 0;margin-left: 10px;font-size: 1.1rem;color: #{$headTitleFontColor};line-height: 22px;display: inline-block;    
                    i{font-size: 1.6rem;color: #{$headTitleFontColor};} 
                    p{font-size: 12px;margin: 0;white-space: nowrap;}
                }
            }
        }
    }
    .navbar-hidden{box-shadow: 0 0 0 transparent;}
    .navbar:after{height: 0px;};
    
    /*底部菜单*/
    .view-menu-toolbar{
        a.link{font-size: 12px;height: 50px!important;cursor: pointer;}
        .toolbar-inner{ 
            z-index: 99;
            &>a.active{color: #{$selectedColor};}
            &>a{color: #{$toolbarFontColor}; i{font-size: 1.8rem;}}
            #voiceBtn{ 
              &>span{width: 90%; height: 90%; position: relative; display: inline-block; 
                border-radius: 50%; background: #{$toolbarBgc}; margin: 5%;
              i{font-size: 2.8rem;position: absolute; top: 50%;left: 50%; transform: translate(-50%,-50%);}
            }}
            #voiceBtn:active span,#voiceBtn:active i{ color: #{$selectedColor}!important; }
            a.link.active-state:before{opacity: 0!important;}
        }
        background: #{$toolbarBgc};
        box-shadow: 0 -1px 3px 0 #{$toolbarBoxShadow};
         // @include screenPiexl(bg);
    }
    .toolbar:before{height: 0;};
}
.md .navbar{
    height: 44px;   
    .navbar-inner{ padding: 0 8px;}
    .title{margin: auto;}
    .right{margin-left: 0;}
}
.md .toolbar{
    a{color: #{$toolbarFontColor};}
    a.link i+i,a.link i+span,a.link span+i,a.link span+span{margin-left: 0;}
    .toolbar-inner{overflow: visible;}
} 

//弹出菜单
.ios .popoverLink,.md .popoverLink,.popoverLink{
    border-radius: 13px;background-color: #{$headerBgc};
    // right:0;left: auto !important;
    a{color: #{$allFontColor} !important;}
    .popover-angle {width: 26px; height: 26px; position: absolute;  top: 100%; z-index: 100; overflow: hidden; }
    .popover-angle:after {content: ''; background: #{$headerBgc}; width: 26px; height: 26px; position: absolute; left: 0; top: 0; border-radius: 3px; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
    .popover-angle.on-bottom:after {left: 0;top: -19px;background: #{$headerBgc}; }
}
.md .popoverLink{top: auto!important;bottom: 65px!important;
    .popover-angle{right: 13%;}
    .popover-angle:after{top: -20px!important;}
    .list .list-button:after {content: ''; position: absolute; background-color: #c8c7cc; display: block; z-index: 15; top: auto; right: auto; bottom: 0; left: 0; height: 1px; width: 100%; -webkit-transform-origin: 50% 100%; transform-origin: 50% 100%; }
}

// 语音
#voiceContainer{
     width: 100%;height: 100%;position: fixed; left: 0%;top: 0%;background: #{$voiceAllBgc};    z-index: 99;
    .voicePanel{
        width: 80%;height: 40%;left: 50%;top: 50%;
        display: inline-block;transform: translate(-50%,-50%);position: relative;z-index: 1;
        background: #{$voiceBgc};
        &>a{
           color: #{$voiceFontColor}; font-size: 3rem;display: inline-block;text-align: center;position: absolute;right: 0;top: -3%;
        }
        &>div{color: #{$voiceFontColor};position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}
        #voiceMessage{font-size: 1.2rem;text-align: center;}
    }
}
.voiceContainer{display: none;}
.md .ripple-wave{display: none!important;}
.md .voicePanel{border-radius: 0!important;}

// 弹出层
html.with-statusbar.device-android .popup, html.with-statusbar.md:not(.device-ios):not(.device-android) .popup,
html.with-statusbar.device-ios .popup, html.with-statusbar.ios:not(.device-ios):not(.device-android) .popup{height: 100%;top: 0;}

// 下拉刷新
.md .page-with-subnavbar .ptr-preloader, .md .searchbar~.ptr-content .ptr-preloader, .md .toolbar:not(.toolbar-bottom-md)~.ptr-content .ptr-preloader{top: 44px;}

html.device-android .statusbar,
html.md:not(.device-ios):not(.device-android) .statusbar {
    background: #{$toolbarBgc} !important;
}

html.device-ios .statusbar,
html.ios:not(.device-ios):not(.device-android) .statusbar {
    background: #{$toolbarBgc};
}

//实时快照
.snapshot-main .snapshotMessage-ul li .item-text,.snapshot-main .snapshotMessage-ul li  a div.item-subtitle,.snapshot-main .snapshotMessage-ul li .content-container-block{color: white;}
.snapshot-main .snapshotMessage-ul li div.item-inner:after{height: 0px!important;}

// 设备列表
#equips,#equips_en { 
    .equip-list{
      background: #{$situationContainerBgc}; 
      &>li{
        &>a{color: #{$situationFontColor};}
      }
    }
}

#ycAndyx #tabsWrap .tab .oneLine, #ycAndyx_en #tabsWrap .tab .oneLine{ background: #{$situationContainerBgc}; }
#ycAndyx #tabsWrap .tab .oneLine .item-title, #ycAndyx_en #tabsWrap .tab .oneLine .item-title{color: #{$situationFontColor};}
#ycAndyx .toolbar .toolbar-inner, #ycAndyx_en .toolbar .toolbar-inner{color: #{$situationFontColor};background: #{$situationContainerBgc};}
#ycAndyx .toolbar .toolbar-inner>a.tab-link, #ycAndyx_en .toolbar .toolbar-inner>a.tab-link{color: #{$situationFontColor};}
#set li{ background:  #{$situationContainerBgc};}
// 设置页
.setPageContainer>div.userClassName,.setPageContainer>div.simple-list ul,.smart-select-page div.page-content ul{background: #{$situationContainerBgc}; }
.setPageContainer a.item-content, .setPageContainer a>div.item-content,.setPageContainer>div.userClassName i,.smart-select-page div.page-content ul div.item-title{color: #{$situationFontColor};}
.smart-select-page div.page-content ul:before{height: 0;}
.setPageContainer>div.userClassName p{color: #{$situationFontColor};}

// 事件查询
.eventSearchContent{background: #{$situationBgc};
  .tabs{
  .tab .tab-table-header{background: #{$situationContainerBgc};} 
  .tab ul li{color: #{$situationFontColor}; span{color: #{$situationFontColor};} }
 }
 .event-search-box{
    background: #{$situationContainerBgc};
    .half-select-box label,.half-select-box-bottom label,.half-select-box-input input,.half-select-box-bottom input,.half-select-box-bottom input:last-child{color: #{$situationFontColor};}
 }
}
.equipSearchDetailContent.page-content{background: #{$situationBgc}; .eventDetailList{color:  #{$situationFontColor};background: #{$situationContainerBgc}; input{color:  #{$situationFontColor};}} }

//系统配置
#equipConfigList .content-wrap .sele-tile{color:  #{$situationFontColor};}
#equipConfigList .list ul,#eventQuery .tabList, #systemConfig .tabList, #systemConfig_en .tabList{color: #{$situationFontColor};background: #{$situationContainerBgc};}
#eventQuery .eventWrap li, #systemConfig .eventWrap li, #systemConfig_en .eventWrap li,#sysConfigEdict .page-content .list, #sysConfigEdict_en .page-content .list{color: #{$situationFontColor};background: #{$situationBgc};}
.item-input-wrap input{color: #{$situationFontColor}!important;}
#sysConfigEdict .page-content .list ul, #sysConfigEdict_en .page-content .list ul{background: transparent;}
#sysConfigEdict{ div.page-content{ ul:before{height: 0px;} } }
#equipConfigList_en .equipConfigList_container .eq-list ul, #equipConfigList .equipConfigList_container .eq-list ul{color: #{$situationFontColor};background: #{$situationContainerBgc};}
// 报警排表
.scheduleContainer>.scheduleContent .equipGroupPublic>ul{
    color: #{$situationFontColor};
}
.scheduleModifyPageContent,.scheduleContainer>.subnavbarTabel{background: #{$situationContainerBgc};}
.scheduleModifyContainer ul,.scheduleModifyContainer_equipgroup>div,.scheduleModifyContainer input, .scheduleModifyContainer select{color: #adadad;background: #{$situationContainerBgc}!important; a{color: #{$situationFontColor};}}
.scheduleModifyContainer ul:before{height: 0px!important;}
.scheduleModifyContainer select{color: #{$situationFontColor}!important;}

// 设备联动
.equipLinkageContainer>.equipLinkageContent #equipLinkage_edit{background: #{$situationBgc};}
.equipLinkageContainer>.subnavbarTabel,.equipLinkageContainer>.equipLinkageContent #equipLinkage_edit>ul,.equipLinkage_edit_modify .equipLinkage_edit_header>div{color: #{$situationFontColor};background: #{$situationContainerBgc};}
.equipLinkageContainer>.equipLinkageContent .equipGroupPublic>ul{background: #{$situationContainerBgc};li{color: #{$situationFontColor};}}
.sheet-modal div.right a{color: #007aff!important;}
.equipLinkage_edit_modify .equipLinkage_edit_header>div #equipLinkage_input{color: #{$situationFontColor};}

// 修改列表
.ios .scheduleModifyPageContent .list,.md .scheduleModifyPageContent .list{margin: 0;padding-top: 10px;}
.dialog-progress .dialog-title a{color: #007aff;}

//实时视频
#Video_content_ref  div.accordion-list{     height: 99%; position: relative; top: 1%;margin: 0;ul{color: #{$situationFontColor};background: #{$situationContainerBgc};}}


// PPT
.pptActive,#Filelist{    margin: 10px 0;color: #{$situationFontColor};background: #{$situationContainerBgc};}
.mettingDetailsContent{color: #{$situationFontColor};background: #{$situationBgc};}
// 欢迎词
.welcomeWordContents{color: #{$situationFontColor};background: #{$situationBgc};}
.welcome-Word-control-boxs{color: #{$situationFontColor};background: #{$situationContainerBgc};}

// 首页内容标题
.HomeSnapShot:before,.HomeButton:before,.HomeSystemMenu:before,.HomeShortcutFunction:before,.HomeCommonlyused:before{font-size: 1rem;font-weight: 600;color: #{$headTitleFontColor};position: absolute;left: 0;top: -1.5rem;}
.HomeSnapShot:before{content: "实时快照";}
.HomeButton:before{content: "场景功能";}

.HomeShortcutFunction:before{content: "大屏操控";}
.HomeSystemMenu:before{content: "系统功能";}