<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>中国移动</title>
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_600686_c57llrkentvjkyb9.css">
		
    <script src="./static/js/jquery-3.3.1.min.js"></script>
    <script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.js" type="text/javascript" charset="utf-8"></script>

    <script src="./static/js/jquery.signalR-2.1.2.min.js"></script>
    <link rel="stylesheet" href="./static/font/headerICon.css">
    <link rel="stylesheet" href="./static/font/contentICon.css">    
    <link rel="stylesheet" href="./static/font/iconfont.css">   
    
  <link rel="shortcut icon" href="./logo.png"><link href="./static/css/app.7535447b38430c0c854123111545e939.css" rel="stylesheet"></head>
  <body>
    <div id="app"></div>
  <script type="text/javascript" src="./static/js/manifest.52383314591127cbdb1f.js"></script><script type="text/javascript" src="./static/js/vendor.ff68a2434fe8ac432533.js"></script><script type="text/javascript" src="./static/js/app.fbc90cc650fbe4cb56d7.js"></script></body>
</html>  