  <div data-page="MessageList" class="page" id="MessageList">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link">
                        <i class="iconfont icon-back" style="background-image: url();width: auto;height: auto;"></i>
                    </a>
                </div>
                <div class="center title" id="popup_titles"></div>
            </div>
        </div>  

        <div id="MessageList_ref" class="page-content ptr-content" data-ptr-distance="55">
            <!-- 默认的下拉刷新层 -->
            <div class="ptr-preloader">
              <div class="preloader"></div>
              <div class="ptr-arrow"></div>
            </div>  

            <div class="list-block accordion-list list" style="margin:0;">
                <ul id="inforList" class="msList"></ul>
            </div>
        </div>
    </div>