<div>
    <div class="list-block list" style="margin:0;">
        <div class="content-block-title">事件分类：</div>
        <ul id="evtsList">
            <li>
                <label class="item-checkbox item-content">
                    <input id="evts_1" type="checkbox" name="ks-checkbox" value="1">
                    <i class="icon icon-checkbox"></i>
                    <div class="item-inner">
                        <div class="item-title">设备事件</div>
                    </div>
                </label>
            </li>
            <li>
                <label class="item-checkbox item-content">
                    <input id="evts_2" type="checkbox" name="ks-checkbox" value="2">
                    <i class="icon icon-checkbox"></i>
                    <div class="item-inner">
                        <div class="item-title">设置事件</div>
                    </div>
                </label>
            </li>
            <li>
                <label class="item-checkbox item-content">
                    <input id="evts_3" type="checkbox" name="ks-checkbox" value="3">
                    <i class="icon icon-checkbox"></i>
                    <div class="item-inner">
                        <div class="item-title">系统事件</div>
                    </div>
                </label>
            </li>
        </ul>

        <div class="content-block-title">所有设备：</div>
        <ul id="equipList" class="equipList"></ul>
    </div>
</div>