<video id='videoPlay' style="width:100%;" controls autoplay="autoplay" autobuffer webkit-playsinline="true" onclick="onVideoClick()"></video>
<p style="text-align:center;">云台控制</p>
<div id="videoControls">
	<div class="videoControls">
		<a class="link videoControls_left" values="0"><img src="/Image/video/video_img_11s.png"/></a>
		<a class="link videoControls_top" values="1"><img src="/Image/video/video_img_22s.png"/></a>
		<a class="link videoControls_right" values="2"><img src="/Image/video/video_img_33s.png"/></a>
		<a class="link videoControls_bottom" values="3"><img src="/Image/video/video_img_44s.png"/></a>
	</div>
	<div class="videoControls2">
		<p><img values="9" src="/Image/video/video_j_1.png" actives="video_j_1"/>&nbsp&nbsp<span>变倍</span>&nbsp&nbsp<img values="8" src="/Image/video/video_j_2.png" actives="video_j_2"/></p>
		<p><img values="13" src="/Image/video/video_j_1.png" actives="video_j_1"/>&nbsp&nbsp<span>光圈</span>&nbsp&nbsp<img values="12" src="/Image/video/video_j_2.png" actives="video_j_2"/></p>
		<p><img values="11" src="/Image/video/video_j_1.png" actives="video_j_1"/>&nbsp&nbsp<span>变焦</span>&nbsp&nbsp<img values="10" src="/Image/video/video_j_2.png" actives="video_j_2"/></p>
	</div>
</div>