/*
mixin：sass宏mixin
*/
@import '_mixin.scss';

//全局字体颜色
$allFontColor: white;

// header头部属性
$headerFontSize: 1.4rem;
$headerBgc: #000;
$headerBoxShadow: #eee;

// 全局背景色,字体颜色,内容背景颜色
$situationBgc: #f6f6f6;
$situationFontColor: #666;
$situationContainerBgc: #fff;
$situationBoxShadow: #eee;

//工具栏背景色
$toolbarBgc: #000;
$toolbarFontColor: white;
$selectedColor: #2d8cf0;
$toolbarBoxShadow: #eee;

//语音属性
$voiceAllBgc: rgba(0,0,0,0);
$voiceBgc: rgba(246,246,246,0.9);
$voiceFontColor: rgb(102, 102, 102);
$voiceBoxShadow: #777;

// aside侧边栏属性
$asideBgc: #272727;
$asideBorderColor: #414141;

// 统一按钮属性
$btnFontSize: 1rem;
$btnBackground: #2d8cf0;
$btnCancelBackground: #f38b8b;
$btnFontColor: #DEF0F9;
$btnWhiteFontColor: #FFFFFF;


//统计栏属性
$statsTitle: #afb5bc;
$statsBgc: #fff;
$statsFontColor: #333;
$statsBorderColor: #f0f4f7;
$selectedColor: #2d8cf0;


//未点击按钮颜色
$unclickedColor: #648EFF;
$unclickedColor_a: #f6f6f6;
$bzColor: #0ed1e6;
$unclickBorderRadius: 6px;
$unclickBorderColor: #ddd;

// 首页配置按钮
$homeConfigBtnBg: rgba(160,153,153,0.3);
$homeConfigBtnColor: #463d3d;

$homeBtnBorderRadius: 50%;

// 统一table样式
$tableHeaderFontSize: 1rem;
$tableHeaderFontColor: #666;
$tableTitle: antiquewhite;
$tableHeaderBgc: #ffffff;

$tableTbodyFontSize: 0.8rem;
$tableTbodyFontColor: #999;
$tableTbodySingleLineColor: #fff;
$tableBorderBottom: #eee;

//input样式
$inputBorderColor: #eee; 

// tab切换属性
$tabSelected: #4177e6;
$tabBackground: #5087f9;
$tabFontColor: white;

// popup弹框
$popupBackground: #ffffff;
$popupContentBackground: white;
$popupBackTitle: #666;
$popupHeaderBoxShadow: rgba(0,0,0,0.20);

$popupbtnColor: white;
$popupbtnBgColor: #2D2E30;
$popupbtnBoxShadow: rgba(0,0,0,0.40);

$preBg: rgb(255,255,255);
$bg:rgb(242,243,245);
$titColor:rgb(173,173,173);
$valueColor:rgb(69,158,241);
$lineBg:rgb(234,234,234);
$activeBg:rgb(62,124,251);
