/*PPT*/
@charset "utf-8";
@import 'public.scss';
// 报警排表
.scheduleContainer{
    height: 99%;top: 1%;position: relative;
    &>.subnavbarTabel{
    	height: 36px;line-height: 36px;
    	&>a{font-size: #{$tableHeaderFontSize};border-right: 0;height: 100%;white-space: nowrap;text-align: center;}
    }
    &>.scheduleContent{
        position: absolute;top: 36px;left: 0rem;right: 0rem;bottom: 0rem;overflow-y:auto; 
        //人员  为你的错误买单/
    	#schedule_user{
             li{width: 100%;height: 40px;position: relative;
                &>.schedule-content{ 
                    &>i{font-size: 2.5rem;position: absolute;left: 3px;top: -5px;}
                    &>div:nth-of-type(1){height: 40px;text-align: center;
                        &>p{margin: 0;line-height: 20px;}
                        &>p:nth-child(1){font-size: 12px;}
                        &>p:nth-child(2){font-size: 12px;margin: 0;line-height: 20px;&>label{font-size: 1rem;color: #FF3B30;}}
                    }
                    &>div:nth-of-type(2){height: 100%;line-height: 40px;text-align: center;}
                }
                .delBtn{background: #FF3B30;}
             }
        }
        // 分组
        #schedule_equip{
            .schedule-content{height: 100%;
               &>div:nth-child(1){height: 100%;
                &>span{width: 100%;height: 100%;display: inline-block;}
                &>div{height: 100%;&>input{width: 100%;height: 100%;border: 0;border-bottom: 1px solid #{$inputBorderColor};text-align: center;}}
               }
               &>div:nth-child(2){height: 100%;&>span{&>a{margin: 0 5%;}}}
            }
        }
        // 公共
        .equipGroupPublic{
            text-align: center;
            &>span{
                color: #{$tabFontColor};width: 100%;height: 35px;line-height: 35px;position: relative;background: #{$tabBackground};margin-top: 1px;
                &>label{border-right: 1px solid white;}
                &>label:last-child{border-right: 0;}
             }
            &>ul{
                position: absolute;left: 0px;top: 1px;right: 0px;overflow-y: auto;margin-bottom: 50px;
                &>li{
                    font-size: 13px;height: 40px;line-height: 40px;position: relative;
                    .delBtn{background: #FF3B30;}
                }
            }
        }
    	.icon-f7_modify,.icon-f7_delete{font-size: 1.5rem;padding: 0px 10px;}
    }
}

// 联动
.equipLinkageContainer{
    height: 99%;top: 1%;position: relative;
    &>.subnavbarTabel{
        height: 40px;line-height: 40px;overflow: hidden;
        &>a{font-size: #{$tableHeaderFontSize}*1.1; height: 100%;white-space: nowrap;text-align: center;}
    }
    &>.equipLinkageContent{
        position: absolute;top: 40px;left: 0;right: 0;bottom: 0;
        &>div.equipGroupPublic{height: 100%;margin: 0;overflow: auto;}
            thead{ font-size: #{$tableHeaderFontSize};color: #{$tableHeaderFontColor};background: #{$tableHeaderBgc};}
            tbody{
                font-size: #{$tableTbodyFontSize};color: #{$tableTbodyFontColor};
                tr:nth-child(2n){background: #{$tableTbodySingleLineColor};}
            }
            tr{display: flex;border-bottom: 1px solid #{$tableBorderBottom};}
            td{min-width: 120px;height: 35px;line-height: 35px;flex: 1;white-space: nowrap;text-align: center;overflow: hidden;text-overflow: ellipsis;}
         // 公共
        .equipGroupPublic{
            height: 100%;text-align: center;overflow-y: auto;
            &>span{color: #{$tabFontColor}!important;width: 100%;height: 44px;line-height: 44px;position: relative;background: #{$tabBackground};margin-top: 1px;
                &>label{border-right: 1px solid white;}
                &>label:last-child{border-right: 0;}
            }
            &>ul{
                margin: 1px 0px 50px 0px;
                &>li{
                    font-size: 14px;height: 40px;line-height: 40px;position: relative;
                    .delBtn{background: #FF3B30;}
                }
            }
        }
        #equipLinkage_edit{height: 100%;padding: 1px 0px 50px 0px;margin: 0;overflow-y: auto;&>ul{margin-bottom: 50px;}}
        .item-input-wrap{border-bottom: 1px solid #{$tabSelected};}
    }
        #schedule_user>table{min-width: auto;}
        .icon-f7_modify,.icon-f7_delete{font-size: 1.5rem;padding: 0px 10px;}
        #equipLinkage_edit{
            &>ul{ &>li{position: relative;
                .item-title{font-size: 0.9rem;}
                .delBtn{padding: 20px;text-align: center; background: #FF3B30;}
                 a{width: 100%;font-size: 1rem;.item-inner:after{height: 0px!important;}}
                }
            }
            &>ul:after,&>ul:before{height: 0px!important;}
           .sceneList{ 
            &>li{padding: 5% 0;
              &>div.sceneHeader{
                width: 100%;height: 40px;
                &>span{height: 100%;display: inline-block;line-height: 40px;
                    &>input{font-size: 0.9rem;text-indent: 1rem;width: 100%;height: 80%;border: 1px solid #{$inputBorderColor};}
                }
             }
              &>div.sceneContent{
                width: 100%;position: relative;    min-height: 40px;
                &>span:nth-child(1){
                    &>label{white-spance: nowrap;position: absolute;top: 50%;transform: translateY(-50%);}
                }
                .leftTaskName{
                    font-size: 0.8rem;font-weight: 200;line-height: 40px;white-space: nowrap;overflow-x: auto;
                }
                .rightBtnModul{
                    line-height: 40px;text-align: center;
                    &>a{i{color: #{$situationFontColor};font-size:  1.5rem;padding: 0;}}
            }
          }
        }
      }
    }
}

// 修改子页
.scheduleModifyContainer{
    height: 100%;
    // border-top: 10px solid #{$popupBackground};   
    input,select{font-size: 1rem !important;}
    .equipLinkageList{height: 75%;overflow-y: auto;}
    .equipLinkageList:after{    bottom: -40px!important;}
    input{
        &::-webkit-input-placeholder{
            color: rgba(51,51,51,.2);
        }
    }
    .comfirmModify{color: #{$btnWhiteFontColor};width: 43%;margin: 5% 5% 15% 2%;padding: 0.8rem;float: left;background: #{$btnBackground};border: 0;border-radius: #{$unclickBorderRadius};outline: none;font-size: 1rem;font-weight: 600;letter-spacing: 2px;}
    .comfirmCancel{margin: 5% 2% 15% 5%;background: #{$btnCancelBackground};}

}

.scheduleModifyContainer_equipgroup{
    height: 60%;
    &>div{
        height: 100%;position: relative;
        &>ul{position: absolute;left: 0;top: 50px;right: 0;bottom: 0;overflow-y: auto;}
    }
    .allSelect{height: 50px; .item-inner:after{height: 0!important;}}
}

// 场景编辑
.equipLinkage_edit_modify{
    .equipLinkage_edit_header{
      &>div{font-size: 0.9rem;height: 40px;line-height: 40px;padding-left: 8%; #equipLinkage_input{ height: 100%;text-align: center; border-bottom: 1px solid #007aff;}span{a{color: #{$tabSelected}!important;}text-align: right; padding-right: 5%;}}
      &>div:nth-child(1){margin-bottom: 10px;}
    }
    ul{max-height: 60%;
    overflow-y: auto;li{padding-left: 6%;.item-content,.item-inner{width: 100%;} .item-inner{i{font-size: 1.8rem;}} .delBtn{background: #FF3B30;}}}
    ul:after{height: 0!important;}
}
// 场景控制项目
.equipLinkage_edit_modify_child {
    ul{li.equipLinkage_edit_modify_childFirst{
            padding: 20px 0;text-align: center;
        &>div{i{font-size: 2rem;vertical-align: sub;}}
        .selectedIcorlor i{color: #{$selectedColor};}
        }
    }
}

.popup-aboutuser { 
	position: absolute;background: #{$popupBackground};padding: 5%;
	h1{width: 100%;font-size: 1.2rem;padding-top: 20px;color: #{$popupBackTitle};text-align: center;    margin-bottom: 15%;}
	.popupContent{
         height: 60%;position: relative;margin-bottom: 10%;
        .item-title,input{color: #{$popupBackTitle} !important;}
        .item-title{text-indent: 5%;}
        input{  text-indent: 10%; }
        i.icon-checkbox{border-radius: 0!important;}
        &>ul{height: 100%;overflow-y: auto;background: transparent; &>li{margin-bottom: 10px;}}
        &>ul:after,&>ul:before,.item-inner:after{transform: scaleY(0)!important;}
        &>.allSelect{width: 100%;position: absolute;left: 0;top: 0px;height: 44px;line-height: 44px;z-index: 1;}
     }
    .popupBtb{padding: 0px 20px;a{color: #{$btnFontColor};font-size: #{$btnFontSize};height: 2.5rem;line-height: 2.5rem;background: #{$btnBackground}}}
}

.equipAlertHeader{padding: 10px;&>label{margin: 0px 5px;}}
.equipAlertContent{&>div{line-height: 40px;padding: 10px;} select,input{font-size: 0.8rem;height: 40px;line-height: 40px;text-indent: 10px;border: 1px solid #{$inputBorderColor};}}
.bottomBorderLine:after{content:"";width: 100%;height: 1px;display: inline-block; position: absolute;bottom: 0;left: 0;border-bottom: 1px solid #888;transform: scaleY(0.2);}
.linkColor{color: #{$tabSelected}!important;}
//选中菜单颜色
.selectScheduleMenu{font-size: 12px;border-bottom: 1px solid #{$tabSelected};}
//添加按钮
// .scheduleRightBottomBtn{position: absolute;right: 5%;bottom: 10%;&>a{&>i{font-size: 3rem;color: #{$tabSelected};}}}
.item-input-wrap input{border: 0;}
.dialog-input-field .item-input-wrap input{border-bottom: 1px solid #{$tabSelected}!important;}
//左侧按钮 
.scheduleRightBottomBtn{    position: absolute; left: 0%; bottom: 50%; width: 20%; height: 25%; transition: all 1s;}
.scheduleRightBottomBtn a{width: 100%;height: 100%;display: inline-block;}
.transformReportingMenu{left: -19%!important;}
.transformReportingMenu img{transform: rotateY(180deg);}
.scheduleRightBottomBtn img{position: absolute;left: 100%;top: 50%;margin-top: -1rem;width:2rem;height: 2rem;}
.scheduleRightBottomBtn span{width: 100%;height: 100%;display: inline-block;border-top-right-radius: 20px; border-bottom-right-radius: 20px; background: #007AFF;overflow: hidden;}
.scheduleRightBottomBtn button{    width: 100%; height: 100%; border: 0; background: transparent; color: white;}