<div class="page" data-page="equips" id="equips">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left sliding auth_name_get">
                设备列表
            </div>
            <div class="right">
                <a href="" class="link panel-open"  id="sceneBtnControl" onclick="AllScene()">
                    <i class="iconfont icon-sceneNew"></i>
                     <p>场景切换</p>
                </a>
                <a href="#" onclick="RichScan()" id="scan"> 
                    <i class="iconfont icon-scanIcon"></i> 
                    <p>扫一扫</p>
                </a>
            </div>
        </div>
    </div>
    <form class="searchbar searchbarEquip">
        <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
                <input placeholder="设备名称搜索" style="font-size: 0.938rem;" type="search">
                    <i class="searchbar-icon">
                    </i>
                    <span class="input-clear-button">
                    </span>
                </input>
            </div>
            <span class="searchbar-disable-button" style="font-size: 0.938rem;">
                取消
            </span>
        </div>
    </form>
    <div class="page-content  equipPageContent" >
        <div class="searchbar-backdrop">
        </div>
        <div class="list-block list-page list" style="margin:0;">
            <ul class="equip-list searchbar-found">
            </ul>
        </div>
    </div>
</div>