<div class="pages">
    <div class="page" data-page="equipConfigList" id="equipConfigList">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left sliding auth_name_get">
                系统配置
            </div>
            <div class="right">
                <a href="" class="link panel-open"  id="sceneBtnControl" onclick="AllScene()">
                    <i class="iconfont icon-sceneNew"></i>
                     <p>场景切换</p>
                </a>
                <a href="#" onclick="RichScan()" id="scan"> 
                    <i class="iconfont icon-scanIcon"></i> 
                    <p>扫一扫</p>
                </a>
            </div>
        </div>
    </div>
        <div class="page-content">
            <div class="block content-wrap equipConfigList_container">
                <header class="equipConfigList_en_header">
                    <form class="searchbar" id="search">
                        <div class="searchbar-inner">
                            <div class="searchbar-input-wrap">
                                <input placeholder="设备名称" type="search">
                                    <i class="searchbar-icon">
                                    </i>
                                    <span class="input-clear-button">
                                    </span>
                                </input>
                            </div>
                            <span class="searchbar-disable-button">
                                取消
                            </span>
                        </div>
                    </form>
                    <p class="sele-tile">
                        设备列表
                    </p>
                </header>
                <div class="eq-list list links-list">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popup popup-condition">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="center sliding title ">
                设备选择
            </div>
            <div class="right">
                <a class="link popup-close" href="#">
                    关闭
                </a>
            </div>
        </div>
    </div>
</div>
