
    <div data-page="mettingDetails" class="page" id="mettingDetails">
      <div class="navbar">
    <div class="navbar-inner">
          <div class="left" style="left: 10px;"><a href id="back2"><i class="iconfont icon-back" style="font-size: 1.4rem;"></i></a></div>
        <div class="center sliding title">PPT</div>
        
    </div>
</div>
        <div class="page-content tabs-animated-wrap mettingDetailsContent">
           <article class="mettingDetailsContent">
             <div  class="swiper-custom">
             <h3 class="detailsTiTle"></h3>
            <div class="swiper-container mettingDetails swiper-3">
              <div class="viewsPng">
                  <img src="" class="setviewPng">
                  <a href="#" class="closeppt closeFile activeBackground" set_no="7" set_equip="4001" set_id="7">关闭</a>
              </div>
              <div class="swiper-wrapper mettingDetails_index">
              </div>
            </div>
             <div class="mettingDetailsBottom row">
              <div>
                   <a href="#" class="startPage" id="startPage" set_no="5" set_equip="4001" set_id="5"></a>
                   <a href="#" class="prePage" id="prePage" set_no="2" set_equip="4001" set_id="2"></a>
                   <a href="#" class="nextPage" id="nextPage" set_no="3" set_equip="4001" set_id="3"></a>
                   <a href="#" class="endPage" id="endPage" set_no="6" set_equip="4001" set_id="6"></a>
              </div>
             </div>
            </div>
            <div class="displayNone modalDiv"><span class="preloader preloader-white"></span></div>
            <div class="abc123" style="    position: absolute;
    left: 0;
    top: 13%;
    color: white;"><label></label><span></span></div>
          </article>
             
        </div>
    </div>
