<div class="page " data-page="schedule" id="schedule">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left sliding auth_name_get">
                报警排表
            </div>
            <div class="right">
                <a href="" class="link panel-open"  id="sceneBtnControl" onclick="AllScene()">
                    <i class="iconfont icon-sceneNew"></i>
                     <p>场景切换</p>
                </a>
                <a href="#" onclick="RichScan()" id="scan"> 
                    <i class="iconfont icon-scanIcon"></i> 
                    <p>扫一扫</p>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="scheduleContainer">
            <div class="subnavbarTabel row no-gap">
                <a class="col-20 selectScheduleMenu" href="#schedule_user">
                    人员
                </a>
                <a class="col-20" href="#schedule_equip">
                    设备分组
                </a>
                <a class="col-20" href="#schedule_administartor">
                    管理范围
                </a>
                <a class="col-20" href="#schedule_specificDate">
                    周排表
                </a>
                <a class="col-20" href="#schedule_weeklytable">
                    特定排表
                </a>
            </div>
            <div class="scheduleContent">
                <section class="row equipGroupPublic" id="schedule_user">
                    <!--                   <span class="row bottomBorderLine no-gap">
                     <label class="col-50">人员信息</label>
                     <label class="col-50">操作</label>
                 </span> -->
                    <ul class="publicTable">
                    </ul>
                </section>
                <section class="displayNone equipGroupPublic" id="schedule_equip">
                    <!--                  <span class="row bottomBorderLine no-gap">
                     <label class="col-50">分组名称</label>
                     <label class="col-50">操作</label>
                 </span> -->
                    <ul class="publicTable">
                    </ul>
                </section>
                <section class="displayNone equipGroupPublic" id="schedule_administartor">
                    <!--                  <span class="row bottomBorderLine no-gap">
                     <label class="col-50">人员姓名</label>
                     <label class="col-50">设备分组名称</label>
                 </span> -->
                    <ul class="publicTable">
                    </ul>
                </section>
                <section class="displayNone equipGroupPublic" id="schedule_specificDate">
                    <!--                  <span class="row bottomBorderLine no-gap">
                     <label class="col-25">人员姓名</label>
                     <label class="col-25">星期</label>
                     <label class="col-25">开始时间</label>
                     <label class="col-25">结束时间</label>
                 </span> -->
                    <ul class="publicTable">
                    </ul>
                </section>
                <section class="displayNone equipGroupPublic" id="schedule_weeklytable">
                    <!--                 <span class="row bottomBorderLine no-gap">
                     <label class="col-30">人员姓名</label>
                     <label class="col-35">开始时间</label>
                     <label class="col-35">结束时间</label>
                 </span> -->
                    <ul class="publicTable">
                    </ul>
                </section>
                <div class="scheduleRightBottomBtn transformReportingMenu">
                    <a class="link" href="#" id="schedule_user_nav">
                        <span>
                            <button onclick='newlyBuildUser(" "," "," "," "," ",2);'>
                                新增人员
                            </button>
                        </span>
                        <img alt="" onclick="transformReportingObstaciesMenu()" src="/Image/phone/directionjt.png"/>
                    </a>
                    <a class="link displayNone" href="#" id="schedule_equip_nav">
                        <span>
                            <button onclick='equipAlert("",4);'>
                                新增设备
                            </button>
                        </span>
                        <img alt="" onclick="transformReportingObstaciesMenu()" src="/Image/phone/directionjt.png"/>
                    </a>
                    <a class="link displayNone" href="#" id="schedule_administartor_nav">
                        <span>
                            <button onclick='newlyBuildAlmReport("",2);'>
                                新增管理
                            </button>
                        </span>
                        <img alt="" onclick="transformReportingObstaciesMenu()" src="/Image/phone/directionjt.png"/>
                    </a>
                    <a class="link displayNone" href="#" id="schedule_specificDate_nav">
                        <span>
                            <button onclick='newlyBuildWeekAlmReport("",2);'>
                                新增周排
                            </button>
                        </span>
                        <img alt="" onclick="transformReportingObstaciesMenu()" src="/Image/phone/directionjt.png"/>
                    </a>
                    <a class="link displayNone" href="#" id="schedule_weeklytable_nav">
                        <span>
                            <button onclick='newlyBuildSpeAlmReport("",2);'>
                                新增特排
                            </button>
                        </span>
                        <img alt="" onclick="transformReportingObstaciesMenu()" src="/Image/phone/directionjt.png"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
