<div class="pages">
	<div class="page" id="sysConfigEdict" data-page="sysConfigEdict">
		<div class="navbar">
			<div class="navbar">
		        <div class="navbar-inner">
		            <!-- 标题 -->                  
		            <div class="left">
		                <a href="#" class="back link">
		                    <i class="iconfont icon-back"></i>
		                </a>
		            </div>                         
		            <div class="center sliding title">系统配置</div>
		            <div class="right">
		                <a href="#"  onclick="upInforEdict()" style="font-size: 1.2rem;">
							提交
		                </a>
		            </div>
		        </div>
		    </div>   
		</div>
		<div class="page-content">
			<div class="list edictList no-hairlines-md">
				<ul>
						
				</ul>
				<!--<div class="btn" >
		      		<div class="button button-big closep back link">
		      			取消
		      		</div>
		      		<div class="button button-big button-fill" onclick="upInforEdict(this)">
		      			提交
		      		</div>
		      	</div>-->
			</div>
		</div>
		<div class="sheet-modal sheet-condition-config sheet-paln">
        	<div class="toolbar">
			      <div class="toolbar-inner">
			        <div class="left"><a class="link sheet-close" href="#">取消</a></div>
			        <div class="right"><a class="link sheet-close" href="#">确定</a></div>
			      </div>
			    </div>
			    <div class="sheet-modal-inner">
			    	<div class="block">
			    		<div class="list">
			    			<ul class="eq-list">
			    			
			    			</ul>
			    		</div>
			    	</div>
			    </div>
        </div>
        <div class="sheet-modal sheet-condition-config sheet-zichan">
        	<div class="toolbar">
			      <div class="toolbar-inner">
			        <div class="left"><a class="link sheet-close" href="#">取消</a></div>
			        <div class="right"><a class="link sheet-close" href="#">确定</a></div>
			      </div>
			    </div>
			    <div class="sheet-modal-inner">
			    	<div class="block">
			    		<div class="list">
			    			<ul class=" eq-list"></ul>
			    		</div>
			    	</div>
			    </div>
        </div>
        <div class="sheet-modal sheet-condition-config sheet-video">
	        	<div class="toolbar">
				      <div class="toolbar-inner">
				        <div class="left"><a class="link sheet-close" href="#">取消</a></div>
				        <div class="right"><a class="link sheet-close" href="#">确定</a></div>
				      </div>
				    </div>
				    <div class="sheet-modal-inner">
				    	<div class="block">
				    		<div class="list">
				    			<ul class=" eq-list">
				    				
				    			</ul>
				    		</div>
				    	</div>
				    </div>
        </div>
	</div>
	
</div>
