<div data-page="systemConfig" class="page" id="systemConfig">
	<div class="navbar">
		<div class="navbar-inner">
			<!-- 标题 -->
			<div class="left ">
				<a href="#" class="back link">
					<i class="iconfont icon-back"></i>
				</a>
			</div>
			<div class="center sliding title">系统配置</div>
			<div class="right rightUpInforEdict">
				<a href="#" class="link" onclick="upInforEdict()">
                    	提交
                    </a>
			</div>
		</div>
	</div>
	<div class="page-content">

		<div class="row no-gap equipCon">

			<p class="segmented tabList tabListConfig">
				<a href="#tab-1" seType="0" class="tab-link button tab-link-active" >设备</a>
				<a href="#tab-2" seType="1" class="tab-link button" >遥测</a>
				<a href="#tab-3" seType="2" class="tab-link button" >遥信</a>
				<a href="#tab-4" seType="3" class="tab-link button" >设置</a>
			</p>
			<div class="tabs-animated-wrap eventWrap">
				<div class="tabs ">

					<div id="tab-1" class="tab tab-active">
						<div class="list" style="margin: 0;">
							<ul id="equipTable">

							</ul>
	<!-- 						<div  class="btn">
			    				<div class="button button-big button-fill" onclick="upInforEdict()">
			    					提交
			    				</div>
			    			</div> -->
						</div>
					</div>
					<div id="tab-2" class="tab">
						<div class="list  links-list" style="margin: 0;">
							<ul id="ycp">
							</ul>
						</div>
					</div>
					<div id="tab-3" class="tab">
						<div class="list links-list" style="margin: 0;">
							<ul id="yxp">
							</ul>
						</div>
					</div>
					<div id="tab-4" class="tab">
						<div class="list links-list" style="margin: 0;">
							<ul id="set">

							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="sheet-modal sheet-condition-config sheet-paln">
        	<div class="toolbar">
			      <div class="toolbar-inner">
			        <div class="left"><a class="link sheet-close" href="#">取消</a></div>
			        <div class="right"><a class="link sheet-close" href="#">确定</a></div>
			      </div>
			    </div>
			    <div class="sheet-modal-inner">
			    	<div class="block">
			    		<div class="list">
			    			<ul class="eq-list">
			    			
			    			</ul>
			    			
			    		</div>
			    	</div>
			    </div>
        </div>
        <div class="sheet-modal sheet-condition-config sheet-zichan">
        	<div class="toolbar">
			      <div class="toolbar-inner">
			        <div class="left"><a class="link sheet-close" href="#">取消</a></div>
			        <div class="right"><a class="link sheet-close" href="#">确定</a></div>
			      </div>
			    </div>
			    <div class="sheet-modal-inner">
			    	<div class="block">
			    		<div class="list">
			    			<ul class=" eq-list"></ul>
			    		</div>
			    	</div>
			    </div>
        </div>
        <div class="sheet-modal sheet-condition-config sheet-video">
	        	<div class="toolbar">
				      <div class="toolbar-inner">
				        <div class="left"><a class="link sheet-close" href="#">取消</a></div>
				        <div class="right"><a class="link sheet-close" href="#">确定</a></div>
				      </div>
				    </div>
				    <div class="sheet-modal-inner">
				    	<div class="block">
				    		<div class="list">
				    			<ul class=" eq-list">
				    				
				    			</ul>
				    		</div>
				    	</div>
				    </div>
        </div>
	</div>