<div data-page="welcomeWords" class="page" id="welcomeWords">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a class="back" href="#">
                    <i class="iconfont icon-back">
                    </i>
                </a>
			</div>
			<div class="center sliding title">欢迎词</div>
			<div class="right">
				<a class="saveWelcomeWords" href="#">保存</a>
			</div>
		</div>
	</div>
	<div class="page-content welcomePageContents">
		<div class="welcomeWordContents">
			<div class="welcome-Word-boxs">
				<textarea placeholder="请输入欢迎词……" value="" onfocus="getFocusValue()" class="col-100 publicInputEdit welcomeInput"></textarea>
			</div>
			<ul class="tabs welcome-Word-control-boxs">
				<li><i class="iconfont icon-jianpan tab-link" href="#tab11"></i></li>
				<li><i class="iconfont icon-ziti tab-link tab-link-active selectMenuWelcomewords" href="#tab22" ></i></li>
				<li><i class="iconfont icon-tupian tab-link" href="#tab33"></i></li>
				<li><i class="iconfont icon-caozuo tab-link" href="#tab44"></i></li>
			</ul>
			<div class="tabs welcome-Word-control-tabs">
				<div class="welcome-Word-control-tab tab" id="tab11"></div>
				<div class="welcome-Word-control-tab tab tab-active" id="tab22">
					<dl>
						<dt>对齐</dt>
						<dd id="alignControlId">
							<i class="iconfont icon-juzuo welcome-Word-control-tab-align control-active-color"></i>
							<i class="iconfont icon-juzhong welcome-Word-control-tab-align"></i>
							<i class="iconfont icon-juyou welcome-Word-control-tab-align"></i>
							<i class="iconfont icon-chuizhijuzhong welcome-Word-control-tab-align"></i>
						</dd>
					</dl>
					<dl>
						<dt>字体</dt>
						<dd>
							<select class="publicInput" style="width: 60%;" id="fontFamily">
								<option sselected="selected" data-font="Microsoft JhengHei">微软雅黑</option>
								<option data-font="SimSun">宋体</option>
								<option data-font="SimHei">黑体</option>
								<option data-font="Microsoft JhengHei">微软正黑体</option>
								<option data-font="NSimSun">新宋体</option>
								<option data-font="PMingLiU">新细明体</option>
								<option data-font="MingLiU">细明体</option>
								<option data-font="DFKai-SB">标楷体</option>
								<option data-font="FangSong">仿宋</option>
								<option data-font="KaiTi">楷体</option>
								<option data-font="FangSong_GB2312">仿宋_GB2312</option>
								<option data-font="KaiTi_GB2312">楷体_GB2312</option>
								<option data-font="fantasy">fantasy</option>
								<option data-font="monospace">monospace</option>
								<option data-font="LiHei Pro Medium">LiHei Pro Medium</option>
								<option data-font="cursive">cursive</option>
							</select>
						</dd>
					</dl>
					<dl>
						<dt>大小</dt>
						<dd>
							<span class="welcome-Word-control-tab-align control-active-color" id="controlrangeSliderValueId" style="font-size: 1.2rem !important;">22</span>
							<!-- range slider, enable labels -->
							<div class="range-slider range-slider-init color-lightblue welcome-Word-control-tab-range-slider" id="controlrangeSliderId">
								<input type="range" min="10" max="200" step="1" value="22">
							</div>
						</dd>
					</dl>
					<dl>
						<dt>粗细</dt>
						<dd id="thickControlId">
							<i class="iconfont icon-changgui welcome-Word-control-tab-align control-active-color"></i>
							<i class="iconfont icon-jiacu welcome-Word-control-tab-align"></i>
							<i class="iconfont icon-qingxie welcome-Word-control-tab-align"></i>
						</dd>
					</dl>
					<dl>
						<dt>颜色</dt>
						<dd>
							<div class="welcome-Word-control-tab-align">
								<a href="#" class="activeSkin welcome-Word-active-Color "></a>
								<div class="setStyle_color col-33 displayNone" id="SelectSkin">
									<div id="colorSkin">
										<div class="row">
											<a href="#" class="col-33"><i></i></a>
											<a href="#" class="col-33"><i></i></a>
											<a href="#" class="col-33"><i></i></a>
											<a href="#" class="col-33"><i></i></a>
											<a href="#" class="col-33"><i></i></a>
											<a href="#" class="col-33"><i></i></a>
											<a href="#" class="col-33"><i></i></a>
											<a href="#" class="col-33"><i></i></a>
											<a href="#" class="col-33"><i></i></a>
										</div>
									</div>
								</div>
							</div>
						</dd>
					</dl>
				</div>
				<div class="welcome-Word-control-tab tab wecomeButtom" id="tab33">
					<div class="swiper-container swiper-3">
						<div class="swiper-wrapper setBackground">
							<div class="swiper-slide">
								<img src="/BGImages/201801111111.jpg"/>
								<i class="iconfont icon-xuanzhongbiaoshi welcome-Word-control-icon-check"></i>
							</div>
							<div class="swiper-slide">
								<img src="/BGImages/bg_2.jpg"/>
								<i class="iconfont icon-xuanzhongbiaoshi welcome-Word-control-icon-check"></i>
							</div>
							<div class="swiper-slide">
								<img src="/BGImages/bg_3.jpg"/>
								<i class="iconfont icon-xuanzhongbiaoshi welcome-Word-control-icon-check"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="welcome-Word-control-tab tab" id="tab44">
					<div class="welcome-Word-control-icon-mutual" set_no="4020" set_equip="1005">
						<i class="iconfont icon-xuanzhong"></i>
						<span>大屏<br />预览</span>
					</div>
					<div class="welcome-Word-control-icon-mutual" set_no="4021" set_equip="1005">
						<i class="iconfont icon-weixuanzhong"></i>
						<span>关闭<br />大屏</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>