<div data-page="ycAndyx" class="page  page-with-subnavbar" id="ycAndyx">
	<div class="navbar">
		<div class="navbar-inner">
			<!-- 标题 -->
			<div class="left ">
				<a href="#" class="back link">
					<i class="iconfont icon-back"></i>
				</a>
			</div>
			<div class="center sliding title" id="titleStats">测试</div>
			<div class="right">
				<a href="/setPage/" class="link icon-only panel-open"><i class="iconfont icon-f7_right_user"></i></a>
			</div>
		</div>
	</div>
	
	<form class="searchbar searchbar2">
		<div class="searchbar-inner">
			<div class="searchbar-input-wrap">
				<input type="search" placeholder="设备名称搜索" style="font-size: 0.938rem;">
				<i class="searchbar-icon"></i>
				<span class="input-clear-button"></span>
			</div>
			<span class="searchbar-disable-button" style="font-size: 0.938rem;">取消</span>
		</div>
	</form>

	<!--"pull-to-refresh-content"类表示下拉刷新 -->
	<div class="page-content ptr-content ycAndyxPageContent" data-ptr-distance="55">

		<!-- 默认的下拉刷新层 -->
		<div class="ptr-preloader">
			<div class="preloader"></div>
			<div class="ptr-arrow"></div>
		</div>
		<div class="searchbar-backdrop "></div>
		<div class="toolbar tabbar toolCon">
			<div class="toolbar-inner tabCon"></div>
		</div>
		<div class="tabs-animated-wrap" id="tabsWrap">
			<div class="tabs " id="tabs">

				<ul id="ycp" class="tab tab-active">

				</ul>
				<ul id="yxp" class=" tab">

				</ul>
				<ul id="set" class="tab">

				</ul>
			</div>
		</div>

	</div>

</div>