/*--------公共样式--------*/
.clear{clear:both;}
/*--------全文档--------*/
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html,body {background-repeat:no-repeat;background:#fff;background-position:center top;background-attachment:fixed;background-size: cover;color:#333;font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";font-size:13px;}
a,button,i,span,textarea,input{outline:0;}
a,button,i,span,textarea,input:focus{outline:0;}
input[disabled],textarea[disabled],button[disabled]{opacity: .65;cursor:not-allowed;pointer-events:none;}

/*--------按钮--------*/
.btn{border:none;border-radius: 2px;-webkit-border-radius: 2px;padding: 6px 12px;box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);color:#fff;font-family:"Microsoft YaHei";}

/*--------全屏遮罩--------*/
.fullScreenPopup{width: 100%;height: 100%;position: fixed;top: 0;left: 0;background: rgba(0,0,0,.5);z-index: 100;}
.fullScreenAll{position:absolute;top:0;right:0;bottom:0;left:0;z-index:1}
/*--------全屏弹窗--------*/
.fullScreenCenter{top:35%;color: #333;background:#fcfcfc;position: relative;padding: 20px;margin:0 auto;background-repeat:no-repeat;background-position:0 0;text-shadow: 0 1px 5px rgba(0,0,0,.25);z-index:2;-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.45);box-shadow: 0 5px 15px rgba(0,0,0,.45);}

/******徽章******/
.badge{background:rgba(0,0,0,0.3);color:#fff;padding:3px 7px;font-size:12px;font-weight:700;border-radius:10px;white-space:nowrap;text-align:center;}

/******输入框******/
.input{color: #333;margin:0px;padding:6px 12px;display:block;width:100%;-webkit-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-o-transition: all 300ms linear 0s;transition: all 300ms linear 0s;}
.input-radius{border-radius:6px;}
.input:focus{border-color:#a66632;}

/******下拉选择******/
select{color: #333;-webkit-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-o-transition: all 300ms linear 0s;transition: all 300ms linear 0s;}
select:focus{}
.select{padding:5px 10px;outline:0;}

.mCSB_container{margin-right:0!important;}
.mCSB_container_wrapper{margin-right:16px;}
.mCS-light-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #696969; }
.mCS-light-3.mCSB_scrollTools .mCSB_draggerRail{ background-color: #c2c2c2; } 