/******所有界面样式******/
/******首页-样式******/
.homeImage{width:auto;height:auto;position:absolute;left:0;top:0;right:0;bottom:133px;}
.homeImage img{width:100%;height:100%;}
.navBtnList{width:auto;height:auto;position:absolute;left:0;right:0;bottom:0;padding:13px 0 13px 0;margin:0 auto;overflow-x:auto;overflow-y:hidden;}
.navBtnList ul{list-style:none;padding:0;}
.navBtnList ul li{float:left;transform:none;transition-duration: .5s;}
.navBtnList ul li a{color:#fff;border-radius: 12px;width:80px;height:auto;text-decoration:none;border-color: rgba(0,0,0,.43);background: rgba(0,0,0,.43);display:block;margin: 0 10px 0 0;padding-bottom:10px;}
.navBtnList ul li a p{text-align:center;margin:0;padding-top:10px;}
.navBtnListImg{width:68px;height:68px;margin:0 auto;padding:2px;background: rgba(0,0,0,.53);border-radius:50%;}
.navBtnList ul li:hover{transform:scale(1.2);-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-ms-transform:scale(1.2);-o-transform:scale(1.2);transition-duration: .5s;-webkit-transition-duration: .5s;-moz-transition-duration: .5s;-o-transition-duration: .5s;-ms-transition-duration:.5s;}
.navBtnList ul li:hover a{}
.navBtnList ul li:hover .navBtnListImg{background: rgba(0,0,0,.43);}
.navBtnListImg img{width:53px;height:53px;margin:6px;border:none;}

/******设备数据-******/
.alarmReal img{width:18px;height:18px;}
.alarmReal button{padding: 5px 6px;cursor:pointer;}
.alarmReal button i{font-size:18px;}

/******实时快照-******/
.inforbtnList{}
.inforbtnList button{position:relative;padding:12px 12px;cursor:pointer;}
.inforbtnList button img{width:32px;height:32px;position:absolute;left:6px;top:6px;}
.inforbtnList button span{padding-left:30px;}
.inforbtnList button b{margin-left:6px;}
.actualbody{width:auto;height:auto;position:absolute;left:0;top:42px;right:0;bottom:0;}
.actualbody img{width:32px;height:32px;}
.actualtext {height:100px;max-width:100%;max-height:100px;}
.procsContent {height:100px;overflow-y:auto;margin-top:10px;border:1px solid rgba(255,255,225,.15);display:none;}
.procsContent ul li{padding-left:0!important;}

/******系统配置-******/
.sysbtn{float:right;}
.sys-nav-tab{margin-top:2px;}
.sys-tab-content{top:64px;}
.sys-tab-content .tableAuto{bottom:40px;}
.system_plug{height:350px;display:block;position:relative;margin:20px 0 0 -20px;}
.system_plug_list{overflow-y:auto;display:block;border: 1px solid rgba(255,255,225,.15);bottom:35px!important;}
.system_plug_list_select{width:100%;}
.system_plug_list_lStyle{height:auto;overflow:auto;}
.system_plug_Data{display:block;bottom:35px!important;}
.system_plug_Data_ul{border: 1px solid rgba(255,255,225,.15);overflow:auto;}
.sys_plug_ul_height_1{height:198px;}
.sys_plug_ul_height_2{height:84px;}
.system_plug_Data_ul li{padding-left:0!important;}
.system_plug_Data_ul span{float:left;display:block;min-width:82px;text-align:right;}
.system_plug_inputs{float:left;width:193px!important;display:block;}
.system_plug_Data_ul ul li:hover{background:none!important;}
.system_plug_botton{position:absolute;left:13px;bottom:0;right:13px;}
.system_plug_botton p{margin:3px 0;text-align:right;}
.system_plug_botton button{}
.advSpan span{float:left;display:block;min-width:182px;text-align:right;}
.tree li span{background:#D9DEE4!important/*//D9DEE4*/}
.tree li:after,li:before{border-color:#D9DEE4!important;}

/******事件查询-******/
.evtTop{margin:0 0 4px 13px;}
.evtTop span{float:left;display:block;line-height:30px;}
.evtTop .input{width:auto!important;float:left;display:block;margin-right:13px;}
.evtTop select{margin-right:6px;float:left;}
.evt-tab-content{top:63px;}
.evt-tab-content .tableAuto{bottom:40px;}

/******报警排表-******/
.tabuTop{float:right;}
.tabu-nav-tab{padding-left:0;margin-top:4px;}
.tabu-tab-content{top:63px;left:0;}
.tabu-table{overflow-y:hidden;}
.tabu-table table{height:auto;position:relative;}
.tabu-table table td{height:auto;padding:0!important;}
.tabu-table table tbody tr{background: rgba(0,0,0,.13)!important;}
.tabu-table table tbody tr:hover{background: rgba(0,0,0,.13)!important;}
.equipList{position:absolute;top:34px;left:0;right:0;bottom:0;overflow-y:auto;padding:13px;}
.equipListContent{float:left;width:160px;height:30px;margin-top:0!important;}
.tabu-control{cursor:pointer;position:absolute;font-weight:500;height:34px;line-height:34px;top:0;padding:0 13px;-webkit-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-o-transition: all 300ms linear 0s;transition: all 300ms linear 0s;}
.tabu-control:hover{background: rgba(255,255,255,.2);}
.tabu-control-1{right:72px;}
.tabu-control-2{right:0;}

/******定时任务-******/
.timed-nav-tab{padding-left:0;}
.timed-tab-content{left:0;}
.timed-list-1{width:auto;height:100%;padding:13px 13px;}
.timed-list-2{width:auto;height:100%;padding:13px 20px;}
.timed-list-title{margin:0;}
.timed-list-table{top:63px;left:13px;right:13px;}
.timed-list-table2{top:28px;}
.timed-panel{margin-top:10px;display:block;height:430px;}
.timed-panel>.col-md-4{left:13px;top:34px;bottom:73px;}
.timed-panel>.col-md-8{right:13px;top:34px;bottom:73px;}
.timed-panel-content{border: 1px solid rgba(255,255,255,.15);padding:0 13px 13px;position:absolute;bottom:0;top:40px;left:0;right:0;}
.timed-panel-content p{margin-bottom:2px;}
.timed-panel-title{width:100%;background:rgba(255,255,255,.4);margin:0;padding: 10px 15px;}

.procsContent-timed {overflow-y:auto;border:1px solid rgba(255,255,225,.15);left:0;right:0;bottom:50px;top:37px;position:absolute;}

.timed-loop-left{position:absolute;left:0;right:50%;bottom:0;top:0;}
.timed-loop-left-btn{position:absolute;left:0;right:0;bottom:6px;top:auto;}
.timed-loop-right{position:absolute;left:50%;right:0;bottom:0;top:0;}
.timed-loop-right-content{position:absolute;left:0;right:0;bottom:0;top:0;border: 1px solid rgba(255,255,255,.15);padding:0 13px;}
.timed-loop-right-text input{display:inline;width:70px!important;margin-bottom:10px;}

.timed-tab-content-s{left:0;top:58px;}

.timed-special-1{position:absolute;top:28px;left:0;right:27%;bottom:0;}
.timed-special-2{position:absolute;top:28px;left:73%;right:0;bottom:0;}

/******设备联动-******/
.equip-cj-1{position:absolute;left:0;top:0;right:70%;bottom:0;}
.equip-cj-1-list{position:absolute;left:13px;top:34px;right:13px;bottom:13px;overflow-y:auto;border:1px solid rgba(255,255,225,.15);}
.equip-cj-2{position:absolute;left:30%;top:0;right:0;bottom:0;}
.equip-cj-2-content{position:absolute;left:0;top:71px;right:0;bottom:0;border:1px solid rgba(255,255,225,.15);}
.equip-cj-2-content-1{position:absolute;left:0;top:13px;right:50%;bottom:0;padding:0 13px 13px;}
.equip-cj-2-content-1-titles{position: relative;display: table;border-collapse: separate;width:100%;}
.equip-cj-2-content-1-title{float:left;background: rgba(255,255,255,.2);border:1px solid rgba(255,255,255,.4);padding: 5px 10px;display: table-cell;white-space: nowrap;vertical-align: middle;}
.equip-cj-2-content-2{position:absolute;left:50%;top:13px;right:0;bottom:0;padding:0 13px 13px;}

.equip-cj-1-list2{bottom:48px;}
.equip-cj-1-btn{position: absolute;left: 13px;right: 0;bottom: 6px;top: auto;}

/******视频系统-******/
.videoPlay{width:100%;height:100%;}
.videoControls{background:url(/Image/video/video_img.png);width:121px;height:122px;margin:0 auto;position:relative;}
.videoControls .active-state{opacity:.7;}
.videoControls_left{position:absolute;opacity:0;left:0;top:35px;}
.videoControls_right{position:absolute;opacity:0;right:0;top:35px;}
.videoControls_top{position:absolute;opacity:0;left:35px;}
.videoControls_bottom{position:absolute;opacity:0;left:35px;bottom:-7px;}
.videoControls2{font-size:18px;margin:0 auto;width:148px;}